In [ ]:
#This a simple arithmetic expression to mutiply then add integers.

In [6]:
(3*4)+5

17

In [ ]:
# this This will convert 200 minutes to hours by diving by 60

In [5]:
200//60

3

**objective**
- First: python
- Second: R
- Third: julia

## H2: Author
# khadeeja